<div class="container">
	<div class="page-container">
		<h1>About <span style="font-family: 'Chicle', cursive;">PodcastMash<span></h1>
		<p><strong>A mash-up of Health-oriented Podcasts and Trivia.</strong> Health Podcasts are an important source of personal health information. This website serves the health of individuals by testing each person on their knowledge of the podcast content; helping important information stay top-of-mind and useable as we each face life's challenges.</p>
		<p>Have fun, get healthy, stay healthy, and learn!</p>
	</div>
</div>