<div class="container">
	<div class="quiz-home">
		<div class="quiz-row hc-now-quiz-2">
			<h5><%= link_to "HealthCast Now: Morley Robbins", welcome_healthcast_quiz_morley_robbins_path %></h5>
			<p>Magnesium Deficiency and Chronic Health Challenges</p>
		</div>
		<div class="quiz-row hc-now-quiz-3">
			<h5>HealthCast Now: Matt Maruca</h5>
			<p>Circadian Biohacking for Optimal Health & Wellness</p>
		</div>
		<div class="quiz-row hc-now-quiz-4">
			<h5>HealthCast Now: Lisa Perkins</h5>
			<p>Hormone Health & Weight Loss for Women and Men</p>
		</div>		
		<div class="quiz-row hc-now-quiz-1">
			<h5>HealthCast Now: Dr. Lindsay Henderson</h5>
			<p>Sleep, Wellness and Optimal Health for Children and Toddlers</p>
		</div>
	</div>
</div>