<div class="container">
	<div class="page-container">
		<div class="grid">

			<div class="card podcast" style="width: 12rem;">
			  <img class="card-img-top" src="https://res.cloudinary.com/deallen7/image/upload/v1522191279/bengreenfield.jpg" alt="Card image cap">
			  <div class="card-body">
			    <h6 class="card-title">Ben Greenfield</h6>
			    <p class="card-text">Ben Greenfield is a personal trainer, holistic nutritionish and health expert.</p>
			    <a href="#" class="test-btn btn btn-primary">Quiz List</a>
			  </div>
			</div>
	
			<div class="card podcast" style="width: 12rem;">
			  <img class="card-img-top" src="https://res.cloudinary.com/deallen7/image/upload/v1522193101/bulletproof-radio.jpg" alt="Card image cap">
			  <div class="card-body">
			    <h6 class="card-title">Bulletproof Radio</h6>
			    <p class="card-text">Biohacking, cognitive enhacement, diet and much more.</p>
			    <a href="#" class="test-btn btn btn-primary">Quiz List</a>
			  </div>
			</div>

			<div class="card podcast" style="width: 12rem;">
			  <img class="card-img-top" src="https://res.cloudinary.com/deallen7/image/upload/v1522193317/healhcast-now.jpg" alt="Card image cap">
			  <div class="card-body">
			    <h6 class="card-title">Healthcast Now</h6>
			    
			    <p class="card-text">All about Health, Wellness and Circadian Optimization.</p>
			    <span class="quiz-link"><%= link_to "Quiz List", welcome_healthcast_quiz_home_path %></span>
			  </div>
			</div>	

			<div class="card podcast" style="width: 12rem;">
			  <img class="card-img-top" src="https://res.cloudinary.com/deallen7/image/upload/v1522193170/paleo-solution.jpg" alt="Card image cap">
			  <div class="card-body">
			    <h6 class="card-title">The Paleo Solution</h6>
			    <p class="card-text">Spanning the connected topics of performance, health and longevity</p>
			    <a href="#" class="test-btn btn btn-primary">Quiz List</a>
			  </div>
			</div>

			<div class="card podcast" style="width: 12rem;">
			  <img class="card-img-top" src="https://res.cloudinary.com/deallen7/image/upload/v1522193320/found-my-fitness.jpg" alt="Card image cap">
			  <div class="card-body">
			    <h6 class="card-title">Found My Fitness</h6>
			    <p class="card-text">Increase healthspan, well-being, and performance.</p>
			    <a href="#" class="test-btn btn btn-primary">Quiz List</a>
			  </div>
			</div>

		</div>
	</div>
</div>