/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
	@import "bootstrap";

	@import url('https://fonts.googleapis.com/css?family=Chicle');


.navbar-brand {
	font-family: 'Chicle', cursive;
	font-size: 2em;
}	

.navbar {
	background-color: #f1c40f !important;
	box-shadow: 0px 2px 4px black;
}

.page-container {
	margin-top: 20px;
	text-align: center;
}

.grid {
	height: 800px;
	width: 100%;
}

.podcast {
	display: inline-block;
	margin: 10px;
	box-shadow: 0px 2px 4px black;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

a {
	color: black !important;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #3498db !important;
}

.test-btn {
	color: white !important;
	background-color: #3498db;
}

.quiz-home {
	display: grid;
	grid-template-columns:90%;
	grid-template-rows:repeat(5, 80px);
	height:1000px;
	width:90%;
	margin-top:50px;
	grid-gap: 15px;
}

.quiz-row {
	border-bottom: 2px solid black;
}

.quiz-link {
	font-weight: 800;
	background-color: #f1c40f;
	border-radius: 15px;
	padding: 5px;
}

/* QUIZ PAGE STYLE */ 

.quiz-container {
	margin-top: 75px;
	display:grid;
	height: 800px;
	width: 90%;
	grid-template-rows:repeat(5, 150px);
	grid-template-columns:repeat(5,20%);
}

.box {
	text-align: center;
	color: white;
	padding-top: 55px; 
}

.box:hover {
	opacity: 0.75;
}

.a {
	background-color: #1abc9c;
}

.b {
	background-color: #2ecc71;
}

.c {
	background-color: #3498db;
}

.d {
	background-color: #9b59b6;
}

.e {
	background-color: #34495e;
}

.f {
	background-color: #16a085;
}

.g {
	background-color: #27ae60;
}

.h {
	background-color: #2980b9;
}

.i {
	background-color: #8e44ad;
}

.j {
	background-color: #2c3e50;
}

.k {
	background-color: #f1c40f;
}

.l {
	background-color: #e67e22;
}

.m {
	background-color: #e74c3c;
}

.n {
	background-color: #ecf0f1;
}

.o {
	background-color: #95a5a6;
}

.p {
	background-color: #f39c12;
}

.q {
	background-color: #d35400;
}

.r {
	background-color: #c0392b;
}

.s {
	background-color: #bdc3c7;
}

.t {
	background-color: #7f8c8d;
}

.quiz-header {
	margin-top: 50px;
}

